body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #00897b;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation */

nav {
  background: #00695c !important;
}

#dropdown1 a {
  color: white;
  text-decoration: none;;
}

.brand-logo {
  padding-right: 1% !important;
}

.login-div {
  padding: 10% 20%;
}

.login-div form {
  padding: 0 5%;
}

button {
  background: #004d40;
  border: none;
  padding: 1%;
  border-radius: 5px;
  margin: 1% 0;
  color: white;
}

.register-div {
  padding: 10% 20%;
}

.register-div form {
  padding: 0 5%;
}

input {
  text-align: center;
  color: white;
}

.plants {
  margin-top: 10%;
}

.plantList {
  margin-top: 2%;
}